/.vscode
/18+.py
/1_to_50_print_whileloop.py
/assignment_operators.py
/basic_function.py
/comparison_operator.py
/cwh python notes
/douhblespace_to_singlespace.py
/everage_of_two_number.py
/find_string.py
/fruitlist.py
/Fun code
/geatest_number_find_with_func.py
/good_afternoon_name.py
/grade_calculate_using_ifelse.py
/gratest_number_find.py
/greet_print_start_s.py
/inchs _to_cms.py
/inchtocms_with_function.py
/letter.py
/list_print_with_while_loop.py
/markslist.py
/multiplication_table_with_for_loop.py
/multiplication_table_with_func.py
/multiplication_table_with_function.py
/multiplication_table_with_whileloop.py
/my python projects
/name_present_or_not.py
/name_start_s.py
/natural_no_sum_with_func.py
/set&dict_excersize_programm.py
/set_programm.py
/spam_ifelse_programm.py
/star_print_function.py
/star_print_with_func.py
/sum_list.py
/sum_n_natural_num.py
/sum_n_natural_numbers_with_recursion.py
/test
/tuple_programm.py
/tuple_zero_count.py
/username_cheack.py
/word_find.py